@media (max-width: 768px) {
  header {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  
  .logo {
    position: absolute;
    left: 37%;
    bottom: 23%;
  }

  .a {
     display: none;
  }

  .menuicn {
    position: absolute;
    left: 5%;
    top: 27%;
    display: block;

  }
  
  .searchicn {
    position: absolute;
    left: 15%;
    bottom: 19%;
  }

  .headerMore .stay {
    margin-bottom: 12%;
  }

  .ads {
    height: 5rem;
  }

  .ads a {
    width: 60%;
    margin-top: -0.5rem;
    text-align: center;
  }

  .main_card .compImg {
    width: 800px; 
    height: 337px; 
    object-fit: cover;
  }

  .surface {
    position: static;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
  }

  .surface a {
    display: none;
  }

  .surface button {
    padding: 10px 5px;
  }
  
  .crossLine {
    border-bottom: 1px black solid;
    width: 100%;
    margin-top: 3%;
  }

  #yt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .shopapart {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 6rem;
    justify-content: center;
    margin: 0 auto;
    width: 8rem;
  }

  .shopapart img {
    width: 40px;
    justify-content: center;
    margin: 0 auto;
  }

  .shopapart a {
    color: #0067b8;
    font-weight: 700;
    padding-top: 1rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
  }

  .shoprow1 {
    display: flex;
    flex-direction: column;
  }

  .shopApart {
    display: flex;
  }

  .shopapart {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 10rem;
    justify-content: center;
    margin: 0 auto;
    width: 11rem;
  }

  .cardSection {
    display: flex;
    flex-direction: column;
  }

  .cardSection div {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .card img {
    width: 100%;
    height: 46.05%;
  }

  .dealSection img {
    width: 400px; 
    height: 300px; 
    object-fit: cover;
  }

  .mobilecomputer {
    display: block;
  }

  .deskcomputer {
    display: none;
  }

  .dealSection div {
    position: static;
    font-size: 14px;
    line-height: 1.5rem;
    left: 5rem;
    top: 10rem;
    width: 21rem;
    padding: 15px;
  }

  .cocoImg {
    display: none;
  }

  .cocomob {
    display: block;
    margin-top: -4rem;
  }

  #surface {
    position: static;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
  }

   }
